//Adrress-local
//

@charset "UTF-8";

//mixins fontes
@mixin font ($ftw, $fts, $cl, $txtt){
    font-weight: $ftw;
    font-size: $fts;
    color: $cl;
    text-transform: $txtt;
    font-family: 'Rubik', sans-serif;
}

//button variants
@mixin button-variant($color, $background, $border, $text-transform) {
    color: $color;
    background-color: $background;
    border-color: $border;
    text-transform: $text-transform;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $font-weight, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	border-radius: $border-radius;
}


//address
#block-block-1 {
	margin: 0;
	background-color: #fefefd;
	width: 296px;
	/* height: 279px; */
	border: 1px solid #fdcc13;
	border-radius: 12px;
	position: relative;
	float: left;
	/* margin-top: 70px; */
	/* padding-bottom: 30px; */
}

.address-local__bg p {
	background: url('/sites/default/files/images-page/pointer.png');
  width: 40px;
  height: 53px;
	position: absolute;
	bottom: 98px;
	left: 20px;
}

.address-local__endereco {
	display: block;
	padding: 14px 30px;
	position: relative;
}

.address-local__endereco p {
	@include font(400,18px,#492d18,none);
	font-style: normal;
	margin: 5px 0 0;
}

.address-local__endereco .address-local__btn {
	@include button-variant(#492d18,#fefefd,transparent,uppercase);
	@include button-size(20px,25px,14px,700,1px,20px);
	@include font(700, 11px, #492d18, uppercase);
	margin: 0;
	margin-left: -25px;
	display: inline-block;
	text-decoration: none;
}

.address-local__btn:after {
	content: '';
	width: 12px;
	height: 10px;
	background: url('/sites/default/files/images-page/seta-direita.png');
	display: inherit;
	margin-left: 5px;
}

.address-local__btn:focus {
	outline: none;
}

